<div id = 'BoughtVPPurchaseCon' class = 'aligner'></div>
    <p>Successfully Purchased SoundMixerz Drum-Kit!</p>
    <p>Go to the Purchases tab in the Account Page</p>
    <p>To Download the Vocal Preset</p>
</div>