<form id = 'BuyVPForm' method = 'post'>
    <input class = 'hiddeninp' type = 'text'name = 'VPuser' value = '<%= User %>' id = 'userInp'>
    <input class = 'hiddeninp' type = 'text'name = 'VPname' value = '' id = 'BVP'>
    <input class = 'hiddeninp' type = 'text'name = 'VPdaw' value = '' id = 'BDAW'>
    <input class = 'hiddeninp' type = 'text'name = 'VPprice' value = '' id = 'BPrice'>
    <input class = 'hiddeninp' type = 'text'name = 'Wvpbr' value = '' id = 'Wvpbr'>
    <br>
    <button id = "Buy" type="button">Buy Now</button>
</form>