<div id = 'BoughtVPPurchaseCon' class = 'aligner'>
    <p>Successfully Purchased Vocal Preset!</p>
    <p>Go to the Purchases tab in the Account Page</p>
    <p>To Download the Vocal Preset</p>
</div>