<div class = 'flexContainer' id = 'StuffyWuffy2'>

    <div id = 'TextVid'>
        <span id = 'VidTXT'>This Video Shows How to apply your Vocal Preset to your Selected DAW</span>
        <span></span>
    </div>


    <iframe width="560" id = 'frameVid' height="315" src="https://www.youtube.com/embed/LjPATHuFKAs?si=7K2ao6tHL4sSKBVa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>