<div class = 'flexContainer' id = 'StuffyWuffy2'>

    <div id = 'TextVid'>
        <span>This Video shows this high quality and amazing DrumKit in action. With 500 Sounds to use at your disposal there are endless possibilities for Producing your own Beats.</span>
        <span></span>
    </div>


    <iframe width="560" id = 'frameVid' height="315" src="https://www.youtube.com/embed/LjPATHuFKAs?si=7K2ao6tHL4sSKBVa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>