<div class = "socials flexContainer">
    <div class = "tags not">
        <span id = "websocright"><strong>Website Socials</strong></span>
        <br>
        <br>
        <br>
        <br>
        <span class = "SocialLink"><a href = "https://twitter.com/SoundMixerzz">Twitter</a></span>
        <br>
        <br>
        <span class = "SocialLink"><a href = "https://www.youtube.com/channel/UCS6i7PQApbGD18ndvCFVxkQ">Youtube</a></span>
        <br>
        <br>
        <span class = "SocialLink"><a href = "https://www.instagram.com/soundmixerzz/">Instagram</a></span>
        <br>
        <br>
        <span class = "SocialLink"><a href = "https://www.tiktok.com/@soundmixerz">Tik Tok</a></span>
        </div>
        <div class = "Policies left">
            <span><strong>Policies/Credits</strong></span>
            <p>Media player powered by <a href="https://plyr.io" target="_blank" class = 'plyrcreds' rel="noopener noreferrer">Plyr.io</a></p>
            <p></p>
            <p></p>
            <p></p>

        </div>
        <div class = "creds lefts top">
            <span id = "devsocright"><strong>Developers Socials</strong></span>
            <br>
            <br>
            <br>
            <span class = "top">Web Developer </span>
            <span class = 'bottom'>Music Maker </span>
            
            <br>
            <span id = "twitter" class = "tag aline top"><a href="https://twitter.com/JJHolmesWebDev" class="fa fa-twitter"></a></span>
            <span id = "instagram" class = "tag bottom tadright"><a href="https://www.instagram.com/skullyfresh/" class="fa fa-instagram"></a></span>
            <br>
            <br>
            <br>
            <br>

            <span class = "copyright copypadright">&#169</span><span class = "copyright"> 2024, SoundMixerz LLC</span>

</div>
</div>
