<div class = 'itemadded lefty'>
    <div class = 'righty'>
    <button id = 'closeitem'>X</button>
</div>
<div class = 'aligner'>
    <p id = 'confri'>item added to your cart!</p>
</div>
    <div class = 'item'>
        <div class = 'flexContainer'>
            <div>
    <img id = 'added' class = 'smol'>
</div>
<div id = 'VPD'>
    <p id = 'VocalPresetAdded'></p>
    <p id = 'DAWadded'></p>
</div>
</div>
<div class = 'bottombutt'>
    <a href = '/shopping-cart' class = 'gotoshop'><button id = 'ViewCart'>View Cart</button></a>
</div>
</div>
</div>