<div class = "morePresets" id = "morePresets">
    <h2 id = "mPresetsHeading">Check Out More Vocal Presets</h2>
    <fieldset class = "morePresetsBorder" id = "morePresetsBorder">
        <div class = "flexContainer">


        <div class = "mPresetsImageHolder hidePresets">
        <a href = "/Presets/DestroyLonely"><img src = "/Images/DestroyLonely.jpg" class = "mPresetsImg"></a>
        <p class = "text1">Destroy Lonely</p>
        <p class = "text2">Vocal Preset</p>
        </div>


        <div class = "mPresetsImageHolder hidePresets">
        <a href = "/Presets/Autumn!"><img src = "/Images/Autumn!.jpg" class = "mPresetsImg"></a>
        <p class = "text1">Autumn!</p>
        <p class = "text2">Vocal Preset</p>
        </div>




        <div class = "mPresetsImageHolder hidePresets">
        <a href = "/Presets/FrankOcean"><img src = "/Images/FrankOcean.jpg" class = "mPresetsImg"></a>
        <p class = "text1">Frank Ocean</p>
        <p class = "text2">Vocal Preset</p>
        </div>
    
 



            <div class = "mPresetsImageHolder hidePresets">
            <a href = "/Presets/BrysonTiller"><img src = "/Images/BrysonTiller.jpg" class = "mPresetsImg"></a>
            <p class = "text1">Bryson Tiller</p>
            <p class = "text2">Vocal Preset</p>
            </div>


            <div class = "mPresetsImageHolder hidePresets">
            <a href = "/Presets/LilTjay"><img src = "/Images/Lil Tjay Image.jpg" class = "mPresetsImg"></a>
            <p class = "text1">Lil Tjay</p>
            <p class = "text2">Vocal Preset</p>
            </div>
       


    



            
            <div class = "mPresetsImageHolder hidePresets">
                <a href = "/Presets/Torylanez"><img src = "/Images/Tory Lanez.jpg" class = "mPresetsImg"></a>
                <p class = "text1">Tory Lanez</p>
                <p class = "text2">Vocal Preset</p>
                </div>
           

    



        


                <div class = "mPresetsImageHolder hidePresets">
                <a href = "/Presets/TravisScott"><img src = "/Images/Travis Scott Image.jpg" class = "mPresetsImg"></a>
                <p class = "text1">Travis Scott</p>
                <p class = "text2">Vocal Preset</p>
                </div>
               


              



                
                <div class = "mPresetsImageHolder hidePresets">
                    <a href = "/Presets/dontoliver"><img src = "/Images/Don-Toliver.webp" class = "mPresetsImg"></a>
                    <p class = "text1">Don Toliver</p>
                    <p class = "text2">Vocal Preset</p>
                    </div>
             
              



                    <div class = "mPresetsImageHolder hidePresets">
                        <a href = "/Presets/SoFaygo"><img src = "/Images/SoFaygo.jpg" class = "mPresetsImg"></a>
                        <p class = "text1">SoFaygo</p>
                        <p class = "text2">Vocal Preset</p>
                        </div>

                        <div class = "mPresetsImageHolder hidePresets">
                            <a href = "/Presets/TheKidLaroi"><img src = "/Images/TheKidLaroi.jpg" class = "mPresetsImg"></a>
                            <p class = "text1">The Kid LAROI</p>
                            <p class = "text2">Vocal Preset</p>
                            </div>




                                <div class = "mPresetsImageHolder hidePresets">
                                    <a href = "/Presets/LilUziVert"><img src = "/Images/Lil Uzi Vert.jpg" class = "mPresetsImg"></a>
                                    <p class = "text1">Lil Uzi Vert</p>
                                    <p class = "text2">Vocal Preset</p>
                                    </div>


                
            </div>
            </fieldset>
            </div>