<div id = 'NotLoggedInDiv'>
    <div id = 'NotLoggedIntxt'>
    <p>This Feature Requires You</p>
    <p>To Be Logged In</p>
    <p>or</p>
    <p>You can Create an Account</p>
    <p>For Free Almost Instantly</p>
    <br>
    <p>Please Log-In to Continue</p>
    <br>
    <a href = '/Log-In'>
    <button id = 'PlzLogInButton'>Log-in</button>
</a>
    <br>
    <button id = 'NoThanks'>No Thanks</button>
</div>
</div>