<form method = 'post' id = 'myForm'>
    <input class = 'hiddeninp' type = 'text'name = 'user' value = '<%= User %>' id = 'userInp'>
    <input class = 'hiddeninp' type = 'text'name = 'VocalPreset' value = '' id = 'VPInp'>
    <input class = 'hiddeninp' type = 'text'name = 'DAW' value = '' id = 'DAWInp'>
    <input class = 'hiddeninp' type = 'text'name = 'price' value = '' id = 'PriceInp'>
    <input class = 'hiddeninp' type = 'text' name = 'src' value = '' id = 'src'>
    <input class = 'hiddeninp' type = 'text' name = 'bomm' value = '' id = 'bomm'>
    <input class = 'hiddeninp' type = 'text' name = 'SCNum' value = '' id = 'SCNum'>
    <br>
    <button id = "add">Add To Cart</button>
</form>