body{
    
    height: 3000px;
    background-color:#212551
    ;
    color: black;
}
.PROFPICHOLDREV{
    
    display: inline-block; 
     margin-top:1%;
     margin-right:1%;
      width: 40px;
      height:40px;
}
.aligner{
    text-align: center;
}
.CartNum{
    z-index:3;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:5px;
    left:1220px;;
    p{
        background-color:blue;
        padding-right:5px;
        padding-left:6px;
        border-radius:50px;
        font-size:.9rem;
        color:white;
    }
}

#price1{
    font-size:1.4rem;
}

.ig{
    height:20px;
    width:20px;
}

#rev{
    font-size:1.1rem;
    margin-right:10px;
    margin-top:1px;
}

#preset{
    background-color: white;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left:20px;
    a{
    color: black;
    }
}

.DAWButtonHolder{
    margin-top:50px;
}


.products{
    font-family: "Roboto", sans-serif;
    width: 100%;
height: 100%;
background-color: white;
    min-width: 1000px;
    min-height: 450px;
    input:not(#rating, .hiddeninp){
        padding: 5px 5px 5px 5px;
        margin-top: 15px;
        margin-left: 40%;
        min-width: 40px;
        display: block;
        border-radius: 15px;
        background-color: #d1e2f1;
        color: black;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
        margin-bottom: 50px;
        display: inline;
        border: solid 1px;
        width: 250px;
        
    }
    placeholder{
        color: black;
    }
        
    }
    


a{
    text-decoration: none;
    color:white;
    span {
        font-size:20px;
        transform: scale(.5, 1);
      }
}

a:hover:not(#preset){
    text-decoration: none;
    color:black;
    span {
        font-size:20px;
        transform: scale(.5, 1);
      }
}


.mailbox{
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:70px;
    left:965px;
    height:400px;
    overflow: auto;
    width:350px;
    background-color:white;
    text-align: center;
    border-right:solid 1px black;
    border-left:solid 1px black;
    border-bottom:solid 1px black;
    p{
        color:black;
    }
}

#BoughtVPPurchaseCon{
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:70px;
    left:500px;
    height:0px;
    overflow: auto;
    width:350px;
    background-color:white;
    text-align: center;
    border-right:solid 1px black;
    border-left:solid 1px black;
    border-bottom:solid 0px black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: height .3s;
    p{
        color:black;
    }
}
#YouVidCon{
    margin-top:10%;
    
    margin-right:5%;
    margin-left:5%;

}

#TextVid{
    border: none;
    margin-left:5%;
    width:30%;
    margin-right:10%;
    
}

#StuffyWuffy{
    border-bottom:solid 1px lightgray;
}

#StuffyWuffy2{
    padding-top:5%;
    padding-bottom:5%;
}
.itemadded{
    display:block;
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:70px;
    left:950px;
    height:0px;
    overflow: auto;
    width:350px;
    background-color:white;
    text-align: center;
    border-right:solid 2px black;
    border-left:solid 2px black;
    border-bottom:none;
    transition: height .4s;
    img{
        height:120px;
        width:120px;
    }
    
}

#NotLoggedInDiv{
    
    height:0px;
      opacity: 0;
      z-index:2;
      margin-top:0px;
      padding-top:0px;
      position:fixed;
      top:110px;
      left:412px;
      
      overflow: auto;
      width:550px;
      background-color:white;
      text-align: center;
      border:solid 2px black;
      border-radius:7px;
      transition: height .2s;
  }
  #NotLoggedIntxt{
      margin-top:30px;
      font-size:1.1rem;
  }
  #PlzLogInButton{
      padding-left:55px;
      padding-right:55px;
      padding-top:8px;
      padding-bottom:8px;
      background-color:#1491f1;
      color:white;
      border:none;
      border-radius:50px;
      font-size:1.1rem;
  }
  #NoThanks{
      font-size:1rem;
      color:#3B3B3B;
      border:none;
      margin-top:10px;
      background-color:white;
  }
.righty{
    text-align: right;
}
textarea{
    font-family:"Roboto", sans-serif;
}

#ProfPicHOLDER{
   
    border-radius: 50px;
    border:solid 1px black;
 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
  
    
   
}

.credit{
    color:rgb(70, 70, 70);
    font-size:.9rem;
    
}

#AvatarImgTR{
    width:30px;
    height:30px;
    border-radius: 50px;
    border:solid 1px black;
 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}

#VPD{
    margin-left:20px;
    border-bottom:solid 1px lightgray;
    border-top:solid 1px lightgray;
}

#closeitem{
    font-size:1.3rem;
    border-radius:30px;
    border:none;
    background-color:white;
    
}

#ViewCart{
    padding-right:45px;
    padding-left:45px;
    padding-top:10px;
    padding-bottom:10px;
    border:solid 2px black;
    background-color:white;
}

.bottombutt{
    text-align: center;
    margin-top:20px;
}

.item{
    margin-top:30px;
}

#DAWadded{
    font-size:.9rem
}

#confri{
    color:gray;
    font-size:.8rem;
}

.smol{
    height:13px;
    width:13px;
}

#avgrev{
    margin-left:8px;
}

#added{
    height:120px;
    width:120px;
}



.lefty{
    text-align:left;
}

.NumNoti{
    z-index:3;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:10px;
     left:1140px;
    p{
        background-color:red;
        padding-right:5px;
        padding-left:5px;
        border-radius:50px;
        font-size:.9rem;
        color:white;
    }
}
#fieldsetNOTI{
    border-top:none;
    border-bottom:solid 1px lightgray;
    border-right:none;
    border-left:none;
}

.hide{
    display:none;
}

.tab{
display:inline;
    padding-right: 0px;
}

.hiddeninp{
    border: 1px white solid;
    width:1%;
    font-size:.01rem;
}

.right{
    display:inline;
    min-width:1240px;
    margin-left:39%;
}




#border{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: solid;
    border-bottom-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
}

fieldset{
    font-size: 15px;
    
}

#no-border{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
   background-color: #212551;
   border-color:#212551;
   
}

#no-border:hover{
    border-left:none;
    border-right:none;
   border-top:none;
    border-bottom-color:white;
    border-bottom: solid 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
   background-color: white;
   color: black;
   a{
    color: black;
    }
    #non{
       
        border-left:none;
        border-right:none;
        border-top:none;
        border-bottom-color:white;
        background-color: white;
        
    }
}

#non{
    background-color: #212551;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left:20px;
    text-align:center;
    color: white;
}


#non:hover{
    cursor: pointer;
}

.ViewNoti{
    cursor: pointer;
}

.ViewNoti:hover{
    text-decoration: underline;
}

.HomePage-TABS{
    font-family: "Open Sans", sans-serif;
    width:100%;
    background-color: #212551;
    display:border;
    position: sticky;
    position:fixed;
    z-index: 1;
    top: 0px;
    min-width: 1340px;
    fieldset{
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        font-size: 15px;
        border:none;
    }
    button{
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 19px;
        border:none;
        background-color: #212551;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left:20px;
    }
    #no-border{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
       background-color: #212551;
       border-color:#212551;
       color: white;
    }
    
    #no-border:hover{
        border-left:none;
        border-right:none;
       border-top:none;
       border-bottom: solid 3px;
        border-bottom-color:white;
       
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
       background-color: white;
       transition: background-color 0.3s;
       transition:border-bottom-color 0.3s ;

        #non{
            transition: background-color 0.3s;
            transition:border-bottom-color 0.3s ;
            border-left:none;
            border-right:none;
            border-top:none;
            border-bottom-color:white;
            background-color: white;
            color:black;
        }
    }
    a{
        text-decoration: none;
        color:white;
        span {
            font-size:20px;
            transform: scale(.5, 1);
          }
    }
    
    a:hover:not(#preset){
        text-decoration: none;
        color:black;
        span {
            font-size:20px;
            transform: scale(.5, 1);
          }
    }
}



.price{
    padding-top:150px;
    font-size: 1.5rem;
}


.product{
    border:none;
    border-bottom: solid 1px gray;
    width:100%;
    display:flex;
    margin-bottom:70px;
    border-radius: 10px;
    justify-content: left;
    #buy-now{
        padding-right: 34px;
        padding-left:34px;
        text-align: center;
        border:solid 1px lightgray;
        select{
            text-align:center;
            padding-right: 35px;
            padding-left: 35px;
            margin-top: 2rem;
            margin-bottom: 6rem;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
             
            background-color: #88abc4;
            border-color: #88abc4;
        }
        select:hover{
            cursor: pointer;
        }
        option{
            text-align:center;
             
            padding-right:30px;
        }
        option:hover{
            cursor: pointer;
        }
        button{
            padding-right: 30px;
            padding-left:30px;
            margin-bottom: 0px;
        }
        button:hover{
            cursor: pointer;
        }
        #Buy{
            padding-top: 9px;
            padding-bottom: 9px;
            padding-right: 70px;
            padding-left: 70px;
            text-align: center;
            font-size:1.1rem;
            background-color: #00A2E8;
            border:none;
            border-radius: 50px;
            color:white;
            font-weight:bold;
        }
        p{
            margin-bottom: 4rem;

        }
        #add{
            font-size:.9rem;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 60px;
            padding-left: 60px;
            margin-bottom: 10px;
            background-color: #5dace4;
            border:none;
             color: black;
            border-radius: 50px;
        }
    }
    #desc{
        width: 70%;
        text-align: left;
        border:none;
        p{
            
             
            padding-top: 20px;
        }
        
    }
    #images{
        border:none;
        padding-top:90px;
        color:white;
        font-size:.6rem;
        h1{
            display:none;
        }
    }
}



.titles{
    font-size:1.5rem;
    font-weight:normal;
}
.image-holder{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: solid;
    border-bottom-color:white;
    height: auto;
    width:40%;
    align-items: center;
    text-align: center;
    background-color: gray;
    justify-content: center;
    align-items: center;
    display:flex;
    transition: transform .6s
}


.image{
    padding-top:4%;
    padding-left:10%;
    display: flex;
}


img:not(.smol, .ig, .starimg){
    height: 350px;
    width:350px;
    display: inline;
}





.inline{
    display: inline;
}


#images{
    width: 30%;
    display: inline;
}



fieldset{
    font-size: 15px;
    display:inline;
}



.reviewstitle{
    text-align: center;
    #revtitle{
        font-size:1.5rem;
        text-decoration: underline;
    }
}



.createreview{
    display:none;
    margin-left:26%;
    height:380px;
    width:600px;
    background-color:white;
    border:solid 1px black;
    button:not(.star){
        margin: 0px;
        margin-left:96%;
        background-color:white
    }
}


.reset{
    margin-top: 100px;
    border-radius:10px;
    color:rgb(78, 76, 76);
    border:none;
    background-color:white;
}




.reset:hover{
    color: black;
    background-color: #D3D3D3
}

.star{
    font-size:.3rem;
    background-color:azure;
    border:none;
     
}

.star:hover{
    cursor:pointer;
    background-color: rgb(170, 170, 247);
}

#starselect{
    font-weight:bold;
    margin-left:20px;
    margin-top:30px;
}

#star{
    display:none;
}

.starimg{
    height:48px;
    width:48px;
}

#rating{
   width:10%; 
}

#reviewinput{
    margin: 0px;
}

#reviewsubmit{
    margin: 0px;
    border: solid 1px black;
    background-color:white;
    padding-top:7px;
    padding-bottom:7px;
    padding-right:10px;
    padding-left:10px;
    border-radius:5px;
    margin-top:27px;
    

}

.starImages{
    margin-left:28%;
}

.centered{
    text-align:center;
}


#container{
    height:min-content;
    
    fieldset{
        margin-left:21.9%;
        width: 50.1%;
        border:none;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        margin-top:20px;
    }
    h1{
        text-align:center;
        margin-top:100px;
    }
}

#list{
    display:none;
    
}

#buttonshowlist{
    background-color:white;
    border:none;
    font-size:1.1rem
}

#pluginsUsed{
    margin-top:20px;
    border-radius:10px;
    border:solid 1px black;
}

.socials{
    display:block;
    width:100%;
    height:200px;
    background-color:#FBFBFB;
    p{
        color:black;
    margin-top:0px;
    padding-top:20px;
    }
    .tags{
        display:inline;
        padding-top:0px;
    }
    .tag{
        margin-left: 30px;
        font-size:1.6rem;
    }

}

#websocright{
    padding-left:75px;
}
a{
    text-decoration: none;
}

.fa{
    padding:9px;
    border-radius:30%;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    color:white;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    
}

.fa-youtube{
    color:white;
    background-color:red;
}

.fa:hover {
    opacity: 0.7;
}



.left{
    margin-left:15%;
}

.flexContainer:not(.not){
    display:flex;
}

.none{
    text-decoration: none;
    color:black;
}

.lefts{
    margin-left:20%;
}

.nopad{
    padding: 0px;
    margin: 0px;
}

#artistname{
    font-size: 1.2rem;
}

.top{
    padding-right:50px;
}

.bottom{
    padding-left:50px;
}

.tadright{
    padding-left:70px;
}

#devsocright{
    padding-left:90px;
}

.copypadright{
    padding-left:216px;
    
}

.copyright{
    font-size:.8rem;
}


a{
    color:#3B3B3B
}

.SocialLink{
    margin-left:50%;
    color:black;
}

.SocialLink:hover{
    text-decoration: underline;
     
 }
 #morePresets{
    width:90%;
    margin-bottom:0px;
    padding-bottom:0px;
    #morePresetsBorder{
        width:80%;
        height:auto;
        margin-left:14%;
        border-top: solid lightgray 1px;
        border-bottom:solid lightgray 1px;
        border-right:none;
        border-left:none;
        text-align: center;
    }
    #mPresetsHeading{
        text-align: center;
        margin-left:9.5%;
    }
    img:not(.smol){
        width:200px;
        height:200px;
    }
    .mPresetsImageHolder:hover{
        transform:scale(1.05);
    }
    .mPresetsImageHolder{
        width:33%;
        margin-top:0px;
        padding-top:0px;
        border:solid 1px white;
        transition: transform .8s;
    }
    .text1{
        font-size:1.07rem;
        text-align: center;
        margin-top:0px;
        margin-bottom:2px;
    }
    .text2{
        font-size:.8rem;
        text-align: center;
        margin-top:0px;
        padding-top:0px;
    }
    
}


#SeeMore{
    font-size:1.3rem;
    background-color:white;
    border:none;
    padding-top:10px;
    cursor:pointer;



    animation-name: arrow;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes arrow {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(30%);
    }

}



.hidePresets{
    display:none;
}


#createrev{
    background-color: #00cfcc;
    padding-right: 25px;
    padding-top: 12px;
    padding-left: 25px;
    padding-bottom: 12px;
    margin-left: 40%;
    margin-top:10px;
    border:none;
    border-radius: 6px;
    transition: background-color .6s;
    font-weight:bold;
    color:white;
}


#createrev:hover{
    background-color:#33FFFC;
    transition: background-color .6s
}


button:hover{
    cursor: pointer;
}


.DAWButtons{
    border-radius:10px;
    border:solid 1px black;
    background-color:white;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:13px;
    padding-left:13px;
    margin-right:10px;
    transition: border .3s;
    transition:transform .3s;
}

.DAWButtons:hover{
    border-color:#00A2E8;
    border:1px solid #00A2E8;
    transition: border .3s;
    transform:scale(1.03);
    transition:transform .3s;
    -webkit-transform: perspective(1px) scale(1.1);
  transform: perspective(1px) scale(1.1);
}


