body{
    background-color:#212551;
    height: 1150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bigAud{
    width:700px;
    size: 1.4rem;
    margin-top: 10%;
    margin-left:35px;
}
#homeIcon{
    height:25px;
    width:25px;
}
#cartIcon{
    height:25px;
    width:25px;
}
textarea{
    font-family:"Open Sans", sans-serif;
    resize: none;
}

.lefter{
    text-align: left;
}

.price{
    color:white;
    background-color: #18bf02;
    padding-right:7px;
    padding-left:7px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius:7px;
    font-size:1rem;
    margin-left:0%;
    
}
.spaup{
    margin-top:10%;
}
.BPM{
    color:#0091ff;
    font-weight:bold;
    margin-left:20%;
}
.beatname{
    font-weight:bold;
    font-size:1.1rem;
}
#preset{
    background-color: white;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left:20px;
    a{
    color: black;
    }
}




.products{
    font-family: "Open Sans", sans-serif;
    width: 100%;
height: 100%;
background-color: white;
    min-width: 1000px;
    min-height: 450px;
    padding-top:50px;
    h1{
        margin-left: 50px;
        padding-top:20px;
        margin-top:0px;
    }
    a:hover:not(#preset,.SocialLink,.woms, .ViewNoti, .yeshow){
        text-decoration: none;
        color:purple;
        span {
            font-size:20px;
            transform: scale(.5, 1);
          }
    }
    
}

#ID{
    color:white;
}

a:not(.woms, .ViewNoti, .yeshow){
    text-decoration: none;
    color:white;
    span {
        font-size:20px;
        transform: scale(.5, 1);
      }
}


.CartNum{
    z-index:3;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top: 5px;   /* Fixed distance from the top */
    right: 50px; /* Fixed distance from the right */
    transform: translateX(-440%); /* Centers it while maintaining a fixed position */
    p{
        background-color:blue;
        padding-right:5px;
        padding-left:6px;
        border-radius:50px;
        font-size:.9rem;
        color:white;
    }
}
#Display{
    padding-right:104px;
}
.mailbox{
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top: 70px;   /* Fixed distance from the top */
    right: 50px; /* Fixed distance from the right */
    transform: translateX(4%); /* Centers it while maintaining a fixed position */
    overflow: auto;
    height:400px;
    width:350px;
    background-color:white;
    text-align: center;
    border-right:solid 1px black;
    border-left:solid 1px black;
    border-bottom:solid 1px black;
    p{
        color:black;
    }
}

#ReportedBeatDIV{
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:60px;
    left:525px;
    overflow: auto;
    height:0px;
    width:350px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    background-color:white;
    border-right:none;
    border-left:none;
    border-bottom:none;
    p{
        color:black;
    }
}


#fieldsetNOTI{
    border-top:none;
    border-bottom:solid 1px lightgray;
    border-right:none;
    border-left:none;
}

#AvatarImgTR{
    width:30px;
    height:30px;
    border-radius: 50px;
    border:solid 1px black;
 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}
.hide{
    display:none;
}

.tab{
display:inline;
    padding-right: 0px;
}



.inline{
    display:inline;
   
}

#NameBeat{
    color:white;
}
.NumNoti{
    z-index:3;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top: 10px;   /* Fixed distance from the top */
    right: 50px; /* Fixed distance from the right */
    transform: translateX(-880%); /* Centers it while maintaining a fixed position */
   
    p{
        background-color:red;
        padding-right:5px;
        padding-left:5px;
        border-radius:50px;
        font-size:.9rem;
        color:white;
    }
}

#pobBeat{
    color:white;
}

a{
    color:black;
}

#border{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: solid;
    border-bottom-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
}

fieldset{
    font-size: 15px;
    
}

#no-border{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
   background-color: #212551;
   border-color:#212551;
   
}

#no-border:hover{
    border-left:none;
    border-right:none;
   border-top:none;
    border-bottom-color:white;
    border-bottom: solid 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
   background-color: white;
   color: black;
   a{
    color: black;
    }
    #non{
       
        border-left:none;
        border-right:none;
        border-top:none;
        border-bottom-color:white;
        background-color: white;
        
    }
}

#non{
    background-color: #212551;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left:20px;
    text-align:center;
    color: white;
}


.ViewNoti{
    cursor: pointer;
}

.ViewNoti:hover{
    text-decoration: underline;
}

.HomePage-TABS{
    font-family: "Open Sans", sans-serif;
    width:100%;
    background-color: #212551;
    display:border;
     position:sticky;
     position:fixed;
     z-index: 1;
    top: 0px;
    min-width: 1340px;
    fieldset{
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        font-size: 15px;
        border:none;
    }
    button{
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 19px;
        border:none;
        background-color: #212551;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left:20px;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
    #no-border{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
       background-color: #212551;
       border-color:#212551;
       color: white;
    }
    
    #no-border:hover{
        border-left:none;
        border-right:none;
       border-top:none;
       border-bottom: solid 3px;
        border-bottom-color:white;
       
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
       background-color: white;
       transition: background-color 0.3s;
       transition: border-bottom-color 0.3s;
        #non{
            transition: background-color 0.3s;
            transition: border-botton-color 0.3s;
            border-left:none;
            border-right:none;
            border-top:none;
            border-bottom-color:#212551;
            background-color: white;
            color:black;
        }
    }
    a:not(.ViewNoti, .yeshow){
        text-decoration: none;
        color:white;
        span {
            font-size:20px;
            transform: scale(.5, 1);
          }
    }
    
    a:hover:not(#preset){
        text-decoration: none;
        color:black;
        span {
            font-size:20px;
            transform: scale(.5, 1);
          }
    }
}




#SellerName{
    text-align: center;
    padding-top:35px;
    h1{
        display:inline;
    }
}

#checkout{
    margin-left:10%;
    padding-top:0px;
    width:300px;
    max-width:300px;
    margin-top:0px;
}

#PurchBeat{
    display:block;
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:60px;
    left:350px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;

    height:0px;
    width:650px;
    overflow: auto;
    background-color:rgb(209, 250, 241);
    text-align: center;
    border-right:solid 2px black;
    border-left:solid 2px black;
    border-bottom:none;
    transition: height .4s;

}

#TMT{
    padding-left:45px;
    padding-right:45px;
    padding-top:12px;
    padding-bottom:12px;
    margin-top:2%;
    border:none;
    border-radius:50px;
    background-color: #5a66ed;
    color:white;
    font-size:1rem;
}
.checkout{
    border:none;
    font-size:1rem;

}

#checkoutbn{
    font-size:1rem;
}

#UserDesc{
    margin-left:50px;
    margin-top:5%;
    width:670px;
}

#descCon{
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    border-right:none;
    border-left:none;
    max-width:650px;
    min-height:200px;
    width:650px;
}

.woms{
    width:30%;
}



#buybutton{
    font-weight:normal;
    color:white;
    background-color:#0790d4;
    border:none;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 70px;
    font-size:1.3rem;
    margin-left:7%;
    margin-top:5%;
    width:auto;
    transition: background-color .3s 
}
#buybutton:hover{
    background-color:#129CE0;
    transition: background-color .3s 
}
.price{
    font-size:1rem;
}




#BeatfieldsetCon{
    padding-top:80px;
}


#BeatContainer{
    height:300px;

    border-right:none;
    border-left:none;
    border-top:solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}



.SkyBlue{
    background-color:white;
    border:none;
}



.LilDurk{
        padding-right: 0px;
        border-radius: 10px;
        padding-left:0px;
        margin-left:10px;
        font-size:.8rem;
        margin-top:0px;
}
    



.white{
    background-color:aliceblue;
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left:10px;

}

.nothingToSeeHere{
    display:none;
    text-align: center;
}

.white:hover{
    cursor: pointer;
    border: 2px solid black;
    background-color:white;
    transition: background-color .3s;
    font-weight:bold;
}


button:hover{
    cursor: pointer;
}

    h3{
        font-size:1.5rem;
        text-align:center;
    }



.hide{
    display:none;
}

.hide1{
    display:none;
}

.audio{
  width: 100%;
  height: 60px;
}

.zerooneminbeats:not(.audio){
    text-align: center;
    
}




.oneminto2min:not(.audio){
    text-align: center;
}



.audioContainer{
    background-color:white;
    max-width: 100%;
    width:100%;
    margin-top:0px;
    margin-left:50px;
}

.clebig{
    font-size:1.3rem;
}

.alignenojn{
    margin-left:34%;
}

.aligner{
    text-align: center;
}

.flexAud{
    display:inline-flex;
}

.flexContainer{
    display:flex;
  
    
}


.beatname{
    font-weight:bold;
}


.con{
    width:50%;
}


#zeroOneMinSeeMore{
    font-size:1.5rem;
    background-color:white;
    border:none;
    padding-top:30px;
    cursor:pointer;



    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#OneToTwoMinSeeMore{
    font-size:1.5rem;
    background-color:white;
    border:none;
    padding-top:30px;
    cursor:pointer;



    animation-name: arrow1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes arrow {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(50%);
    }

  }


  
@keyframes arrow1 {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(50%);
    }

  }




.beatborder{
    
    margin-right:5%;
    margin-left:5%;
    border:solid 1px lightgray;
    border-right:none;
    border-left:none;
}


.filterContainer{
    cursor: pointer;
    margin-left:45%;
    margin-right:41%;
    margin-top:10px;
    button{
        border:none;
        background-color:white;
        font-size: 1.5rem;
    }
    label{
        font-size: 1.5rem;
    }
    button:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    label:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}








.white{
    background-color:aliceblue;
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left:10px;

}

.nothingToSeeHere{
    display:none;
    text-align: center;
}

.white:hover{
    cursor: pointer;
    border: 2px solid black;
    background-color:white;
    transition: background-color .3s;
    font-weight:bold;
}



#FilterDiv{
    height:500px;
    width:550px;
    background-color:aliceblue;
    margin-left:30%;
    border-radius:10px;
    border: solid 1px black;
    h3{
        text-align: center;
    }
}



#closeButton{
    background-color:aliceblue;
    margin-left:94%;
    border:none;
    border-radius:9px;
    padding: 8px;
    cursor: pointer;
    font-size:1.2rem;
}







.filterDivHeadings{
    font-weight:bold;
    margin-left:10px;
}



#filterSubmitButton{
    margin-left:42.5%;
    padding: 8px 15px 8px 15px;
    border-radius:10px;
    border: 1px solid black;
    background-color:#a0d4fc;
    font-size:1.2rem;
    transition: background-color .5s;
}

#filterSubmitButton:hover{
    cursor: pointer;
    background-color:#55ACEE;
    transition: background-color .5s;
}




#ProfPic{
    display: block;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    width:60px;
    height:60px;
    top: 0; 
    left: 0;
    border-radius: 50px;
    

}

.badges{
    height:30px;
    width:30px;
    margin-top:145%;
    margin-left:15%;
}


#NotLoggedInDiv{
    
    height:0px;
      opacity: 0;
      z-index:2;
      margin-top:0px;
      padding-top:0px;
      position:fixed;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      
      overflow: auto;
      width:550px;
      background-color:white;
      text-align: center;
      border:solid 2px black;
      border-radius:7px;
      transition: height .2s;
  }
  
.inliner{

    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: aligns items vertically */
    width: 100%;

}
  #NotLoggedIntxt{
      margin-top:30px;
      font-size:1.1rem;
  }
  #PlzLogInButton{
      padding-left:55px;
      padding-right:55px;
      padding-top:8px;
      padding-bottom:8px;
      background-color:#1491f1;
      color:white;
      border:none;
      border-radius:50px;
      font-size:1.1rem;
  }
  #NoThanks{
      font-size:1rem;
      color:#3B3B3B;
      border:none;
      margin-top:10px;
      background-color:white;
  }
.play-btn{
    display:block;
    width: 80px;
    height: 80px;
    background-color: rgba(8, 8, 8, 0.7); /* Red with 50% opacity */
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 36px;
    padding-left:5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#favp{
    margin-top:10%;
}
#DelFav{
    margin-top:10%;

}
#sucfavbeat{
    display:block;
    z-index:2;
    margin-top:0px;
    padding-top:0px;
    position:fixed;
    top:60px;
    left:990px;
    height:0px;
    overflow: auto;
    border-bottom-left-radius: 7px;
    width:350px;
    background-color:white;
    text-align: center;
    border-right:solid 1px black;
    border-left:solid 1px black;
    border-bottom:none;
    transition: height .2s;
    
    }
.fav-btn{
    margin-left:80px;
    margin-top:80px;
    display:none;
    width: 40px;
    height: 40px;
    background-color: rgba(8, 8, 8, 0.7); /* Red with 50% opacity */
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    padding-left:5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position:absolute;
    left:80px;
    top:68px;
    transition: background-color 0.3s ease;

}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    button{
    text-align: center;
    }
}
.backgroundimg{
    position: relative;
  display: inline-block;
  width: 300px; 
    height: 300px; 
    overflow: hidden;
}

.backgroundimg img{
    display: block;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    position: absolute; 
   
}
.profPicHolder{
    margin-top:2%;
    margin-left:2%;
}

.FavBeattxt{
    font-size:1.2rem;
}

.usernameHolder{
    margin-top:3.5%;
    margin-left:2%;
}

.yeshow:hover{
    text-decoration: underline;
}

.yeshow{
    border:solid 1px purple;
}


img{
    height:300px;
    width:300px;
    border-radius:10px;
}
















































.socials{
    display:block;
    width:100%;
    height:200px;
    background-color:#FBFBFB;
    p{
        color:black;
    margin-top:0px;
    padding-top:20px;
    }
    .tags{
        display:inline;
        padding-top:0px;
    }
    .tag{
        margin-left: 30px;
        font-size:1.6rem;
    }
    a:not(.woms, .HomePage-TABS, .yeshow){
        color:#3B3B3B
    }

}



.hiddeninp{
    border: 1px white solid;
    width:0%;
    font-size:.01rem;
}

#CurrUser{
    color:white;
}

#SellUser{
    color:white;
}

#websocright{
    padding-left:75px;
}
a{
    text-decoration: none;
}

.fa{
    padding:9px;
    border-radius:30%;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    color:white;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    
}

.fa-youtube{
    color:white;
    background-color:red;
}

.fa:hover {
    opacity: 0.7;
}



.left{
    margin-left:15%;
}



.none{
    text-decoration: none;
    color:black;
}

.lefts{
    margin-left:20%;
}

.nopad{
    padding: 0px;
    margin: 0px;
}

#artistname{
    font-size: 1.2rem;
}

.top{
    padding-right:50px;
}

.bottom{
    padding-left:50px;
}

.tadright{
    padding-left:70px;
}

#devsocright{
    padding-left:90px;
}

.copypadright{
    padding-left:216px;
    
}

.copyright{
    font-size:.8rem;
}



.SocialLink{
    margin-left:50%;
    color:black;
}

.SocialLink:hover{
    text-decoration: underline;
     
}


#SellBeatContainer{
    margin-top:40px;
}


#SellBeat{
    padding:13px;
    background-color:#FFFD99;
    border: solid 1px black;
    font-size:1.1rem;
    transition:background-color .8s;
    border-radius:6px;
}

#SellBeat:hover{
    background-color:#FFFB2C;
    transition:background-color .8s;
}


button:hover{
    cursor: pointer;
}

.TagName{
    font-size:.8rem;
}

.sideDiv{
    width:80%;
    height:230px;
    text-align: center;
    margin-left: 9.3%;
    
}

.sideBorder{
    width:100%;
    height:230px;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom:none;
}

#BeatSecHeader{
  text-align: center;
}


.SellersHeader{
    color:#212551;
    font-size:3rem;
    background: rgb(7,181,222);
    background: linear-gradient(21deg, rgba(7,181,222,1) 29%, rgba(2,0,43,1) 81%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.BeatHeader{
    color:#212551;
    font-size:3rem;
    background: rgb(7,181,222);
    background: linear-gradient(21deg, rgba(2,0,43,1) 29%, rgba(7,181,222,1) 81%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


#resetTags{
    padding: 10px;
    border: solid 1px black;
    background-color:#dc2743;
}



.SellinForm{
    height:690px;
    width:500px;
    background-color:white;
    margin-left:18%;
    border:solid 3px black;
    border-radius:7px;
}

#closeform{
    background-color:white;
    border-radius:10px;
    font-size:1.2rem;
    border:none;
    transition: background-color .3s;
}

#closeform:hover{
    background-color:rgb(235, 232, 232);
    transition: background-color .3s;
}

.closer{
    margin-left:95%;
}

#fileupload{
    margin-left:75px;
}

#beatnameques{
    border-radius:7px;
    border:solid 1px black;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:20px;
}

.ques{
    font-size:1.1rem;
}

.lefter{
    text-align:left;
}

.inpQues{
    width:85%;
}

.whitee{
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left:10px;
    background-color:white;
    transition:background-color .3s
}


.whitee:hover{
   background-color:rgb(233, 233, 233);
   transition:background-color .3s
}

#tagCon{
    border-right:none;
    border-left:none;
    border-top:solid 1px lightgray;
    border-bottom:solid 1px lightgray;
    width:100%;
}



.inputtag{
    width:80%;
}

#tagAlrChose{
    color:red;
    font-weight:bolder;
}

#priceBeatInput{
    width:12%;
    border-radius:5px;
    padding-top:3px;
    padding-bottom:3px;
    border:solid 1px black;
}

#submitBeat{
    padding:12px;
    background-color:#FFFD99;
    border:solid 1px black;
    border-radius:7px;
    font-size:1rem;
    transition: background-color .3s
}

#submitBeat:hover{
    background-color: #FFFB2C;
    transition: background-color .3s
}


.padup{
    padding-top:20px;
}


#reportButton{
    border:solid 1px black;
    border-radius:50px;
    background-color:#fd9baa;
    font-size:1.1rem;

}

#RepBeatHold{
    margin-top:15%;
    margin-left:119%;
    width:100%;
   
}

#ReportBeatFormCon{
    border-top:solid 1px black;
    margin-top:10%;
    width:100%;
    margin-left:17%;
}

.Options:first-of-type{
    color:white;
}

#EXTRACON{
    margin-top:10%;
}

#reportButton{
    padding-left:60px;
    padding-right:60px;
    padding-top:11px;
    padding-bottom:11px;
    border:none;
    border-radius:50px;
    font-size:1.2rem;
    color:black;
    background-color:#ff6078;
}