<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundMixerz | SellForm</title>
    
    <link rel = "stylesheet" href = "/css/SellForm.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("../Partials/Seller.ejs") %>
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
      
        <% if(User == undefined){ %>
            <div class = 'NotLoggedInR aligner'>
                <p>You Are Not Logged In Currently</p>
                <p>To Use These Features Please Log In</p>
                <a href = '/Log-In'>
                <button id = 'LogInNow'>Log-In</button>
            </a>
            </div>
            <% } %>
            <div class = 'Error hide' id = 'ERROR'>
                <p id = 'Errortxt'>An Error Occured</p>
            </div>
            <div class = 'BeatSold' id = 'BeatSold'>
                <p>Beat Successfully Uploaded</p>
            </div>
            <div class = 'SOP' id = 'SOP'>
                <p id = 'SOPtxt'>Successfully Purchased Package</p>
                <p>Enjoy!</p>
            </div>
            <div id = 'AlreadyUpBeat' class = 'aligner'>
                <p><strong>You Have Uploaded the Maximum amount of Beats you</strong></p>
                <p><strong>Can Upload Today</strong></p>
                <br>
                <p>If You Would like to Upgrade then,</p>
                <p id = 'WhichPackageTheyNeed'>Purchase the Pro Package</p>
                <br>
                <p id = 'TellMore'>With the Pro Package you can Upload UNLIMITED Beats</p>
                <p>Onto SoundMixerz.com!</p>
                <br>
                <p>If your Interested then click "Take me There" to View the Packages</p>
                <br>
                <button id = 'TakeMeThere'>Take Me There</button>
                <br>
                <button id = 'NoThankYou'>No Thanks</button>



            </div>
        <div class = "BeatSecHeader" id = "BeatSecHeader">
            <h1 id = "BeatHeader">Sell Your Beat</h1>
        </div>
        <div id = 'Scroller'>
            
        </div>
        <div class = 'aligner'>
            <h2>Beat Seller Packages</h2>
        </div>
        <div class = 'subscripts' id = 'subscripts'>
            <div class = 'flexContainer'>


            <div class = 'compsec sets'>

               <fieldset class = 'fieldtitlesmol'>
                <p class = 'Titletxt'>Compare Packages</p>
               </fieldset>

               <fieldset class = 'fieldtitlesmol'>
                <p class = 'comptxt'>Beats Allowed to Sell Per Day</p>
               </fieldset>

               <fieldset class = 'fieldtitlesmol'>
                <p class = 'comptxt'>Percentage of Cut for User</p>
               </fieldset>

               <fieldset class = 'fieldtitlesmol'>
                <p class = 'comptxt'>Price</p>
               </fieldset>

               <fieldset class = 'fieldtitlesmol'>
                <p class = 'comptxt'>Badge</p>
               </fieldset>



            </div>


            <div class = 'freesec sets'>
                <fieldset class = 'fieldtitle'>
                    <div class = 'rightAlingner'>
                  <span class = 'Specs'>Most Affordable</span>
                  </div>
                    <br>
                    <p class = 'Titletxt'>Free</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle'>
                    <p class = 'nortxt'>3 Beat</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle'>
                    <p class = 'nortxt'>85% Cut for User</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle'>
                    <p class = 'nortxt'>Free</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle'>
                    <p class = 'nortxtnon'>None</p>
                   </fieldset>
            </div>


            <div class = 'bassec sets'>

                <fieldset class = 'fieldtitle basicsec'>
                    <div class = 'rightAlingner'>
                  <span class = 'BasSpecs'>Most Popular</span>
                  </div>
                  <div class = 'aligner'>
                    <button class = 'subButtons' data-bas = '<%= User %>' id = 'BasButton'>Basic</button>
                </div>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle basicsec'>
                    <p class = 'nortxt'>10 Beats</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle basicsec'>
                    <p class = 'nortxt'>100% Cut for User</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle basicsec'>
                    <p class = 'nortxt'>$7.00/Per Month</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitle basicsec'>
                    <img class = 'badgePic' src = '/Images/BasicBadge.jpg'>
                   </fieldset>

            </div>


            <div class = 'prosec sets'>
             
                <fieldset class = 'fieldtitlelas prosect'>
                    <div class = 'rightAlingner'>
                  <span class = 'ProSpecs'>Best Value</span>
                </div>
                    <button class = 'subButtons' data-pro = '<%= User %>'  id = 'ProButton'>Pro</button>
                   </fieldset>
    
                   <fieldset class = 'fieldtitlelas prosect'>
                    <p class = 'nortxt'>Unlimited Beats</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitlelas prosect'>
                    <p class = 'nortxt'>100% Cut for User</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitlelas prosect'>
                    <p class = 'nortxt'>$12.00/Per Month</p>
                   </fieldset>
    
                   <fieldset class = 'fieldtitlelas prosect'>
                    <img class = 'badgePic' src = '/Images/ProBadge.jpg'>

                   </fieldset>
    
            </div>




        </div>
        </div>
        <div class = 'ConfrimPackOrder aligner' id = 'ConfrimPackOrder'>
            <div class = 'lefter txtCon'>
            <p id = 'OrdPackName'></p>
        </div>
            <p id = 'TotTxt'></p>
        
            <br>
            <button id = 'ConfirmPackageButton'>Confirm Order</button>
        </div>
    
        

        <div class = "requestBeat">
            <fieldset id = "SellBeatContainer">
               
         
               
             
                <br>
                <form id = 'SellFormFM' enctype="multipart/form-data">
                <div class = "padup">
                    
                <span class = "ques">Upload your Audio File Here</span>
                
            </div>
                
                <div class = 'aligner margbot'>
                <input type = "file" accept = "audio/*" name = 'audioFile'id = "audioUpload" required>
            </div>

          
                <div class = 'lefter'>
                <span class = 'ques' id = 'BeatnameLabel'>Enter a Name for The Beat</span>
                <span id = 'BNlab' class = 'WrongInp hide'>(25 Characters Max)</span>
                
                <div class = 'margbot'>
                <input type = 'text' class = 'inpQues'id = 'beatnameques' name = 'beatname' placeholder = '25 Characters Max' required>
            </div>
                
                <span class = 'ques' id = 'PricebeatLabel'>Price Your Beat</span>
                <span class = 'WrongInp hide' id = 'ContainLetterPrice'>Only Numbers Please</span>
                <div class = 'margbot priceinpdiv'>
                <span id = 'mon'>$</span><input type = 'text' name = 'pob' id = 'priceBeatInput' placeholder="50" required>
            </div>

            <span class = 'ques' id = 'BPMbeatLabel'>What is the BPM on your beat?</span>
            <span class = 'WrongInp hide' id = 'ContainLetterBPM'>Only Numbers Please</span>
                <div class = 'margbot priceinpdiv'>
                <span id = 'BPMspan'></span><input type = 'text' name = 'BPM' id = 'BPMInp' placeholder="144" required><span> BPM</span>
            </div>
                
                <span class = 'ques'>Select the Beats Tags(Optional)</span> <span>(3 Max)</span>
                <div class = 'margbot'>
                <p class = 'hide' id = 'tagAlrChose'>Tag is Already Chosen</p>
                <div class = 'inputtags flexinp'>
                    <input type = 'text' name = 'tag1' id = 'tag1' class = 'inputtag' readonly>
                    <input type = 'text' name = 'tag2' id = 'tag2' class = 'inputtag' readonly>
                    <input type = 'text' name = 'tag3' id = 'tag3' class = 'inputtag' readonly>
                </div>
                <div id = 'tagCon'>
            <button class = "whitee" type = 'button' id = 'PumpedUpADD' value = 'PumpedUp' >Pumped Up</button>
            <button class = "whitee" type = 'button' id = 'SadADD' value = 'Sad'  >Sad</button>
            <button class = "whitee" type = 'button' id = 'ChillADD' value = 'Chill'  >Chill</button>
            <button class = "whitee" type = 'button' id = 'LoFiADD' value = 'LoFi'  >Lo-Fi</button>
            <button class = "whitee" type = 'button' id = 'DubStepADD' value = 'DubStep'  >DubStep</button>
            <button class = "whitee" type = 'button' id = 'HipHopADD' value = 'HipHop'  >Hip-Hop</button>
            <button class = "whitee" type = 'button' id = 'RandBADD' value = 'R&B'  >R&B</button>
            <button class = "whitee" type = 'button' id = 'IndieADD' value = 'Indie'  >Indie</button>
            <button class = "whitee" type = 'button' id = 'SlowADD' value = 'Slow'  >Slow</button>
            <button class = "whitee" type = 'button' id = 'FastADD' value = 'Fast' >Fast</button>
            <button class = "whitee" type = 'button' id = 'PianoADD' value = 'Piano'  >Piano</button>
            <button class = "whitee" type = 'button' id = 'GuitarADD' value = 'Guitar' >Guitar</button>
            <button class = "whitee" type = 'button' id = 'ElectricGuitarADD' value = 'Electric Guitar'  >Electric Guitar</button>
            <button class = "whitee" type = 'button' id = 'DrillADD' value = 'Drill' >Drill</button>
            <br>
               </div>
            </div>
               
               <label for = 'desc' class = 'ques'>Description for Beat (Optional)</label>
               <div class = 'margbot'>
               <textarea id = 'desc' name = 'desc' rows = '7' cols = '65' placeholder = 'Description Goes Here...'></textarea>
            </div>
            </div>
            <input type = 'text' name = 'src' value = 'NoImg.jpg' class = 'hiddeninp'>
            <div class = 'aligner'>
               <button id = "submitBeat" >Sell Beat</button>
            </div>
            </form>
          
        </fieldset>
        </div>





<script src = '/js/SellForm.js'></script>







    </body>
    </html>
