<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/log-in.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>SoundMixerz | log-in</title>
</head>
<body>
    <div class = "heading">
        <h1><img src = "/Images/SoundMixerzLogoBlue.jpg"></a></h1><!--LOGO-->
       </div>
      
    <div class = "log-in-block">
        <form method = 'post' class = 'myForm'>
        <div class = "header section">
            <h1><strong>Log In and Start Creating!</strong></h1>
        </div>
        <div class = "username section"><!--USERNAME-->
            <label for = 'username' id = "userp"><strong>Username/Email:</strong></label>
            <label for = 'username' id = "WrongUser"><strong>Username does not Exist</strong></label>
            <input type = "text" placeholder="Username/Email" name = "username" id = "username"/>
        </div>
        <div class = "password section"><!--PASSWORD-->
            <label for = 'NewPass' id = "passp"><strong>Password: </strong></label>
            <label for = 'NewPass' id = "WrongPass"><strong>Incorrect Password</strong></label>
            <input type = "password" placeholder = "8 Characters or more" name = "NewPass" id = "NewPass">
            <br>
            <input type = "checkbox" id = "checkbox">
            <label for = "checkbox">Show Password</label>
        </div>
        <div class = "button"><!--LOG-IN BUTTON-->
            <button id = "logInButton"><strong>Log-In</strong></button>
        </div>
    </form>
        <div class = "Sign-Up section">
            <p><strong>Don't have an account? <a href = "/Registration">Sign-Up</a></strong></p><!--ADD LINK TO LOG IN PAGE HERE-->
        </div>
    </div>
    
    
    
    
    
    
    
    
    <script src = "/js/log-in.js"></script>
</body>
</html>




