<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Test</title>
</head>
<body>
    <button id = 'checkout'>Checkout</button>










    <script src = "/js/Stripe.js"></script>
</body>
</html>